html {
	font-size: 3.4vw;
}

@media (min-width: 75vh) {
	html {
		font-size: 2.5vh;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: '游ゴシック', sans-serif;
}

body {
	background-color: #000;
}

#MAIN {
	position: fixed;
	width: 30rem;
	height: 40rem;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

#BACK {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	transform: rotate(90deg);
}

#BACK_JACKET {
	position: absolute;
	width: 10rem;
	height: 10rem;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	opacity: .4;
	object-fit: cover;
	transform: perspective(5rem) rotateY(-3deg) rotateZ(90deg);
}

#LANE {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40rem;
	margin: auto;
	transform-origin: left;
	transform: perspective(12rem) rotateY(18deg) scaleX(5);
}

.lines {
	box-sizing: border-box;
	width: 30rem;
	height: 10rem;
	border-top: solid #fff 0.01rem;
	border-bottom: solid #fff 0.01rem;
	z-index: 10;
}

.notes {
	position: absolute;
	left: 110%;
	width: 10rem;
	transform: rotate(90deg) scaleY(0.3) translateY(12.2rem);
}

#EFFECT {
	position: absolute;
	height: 36rem;
	top: 0;
	bottom: 0;
	left: -2.5rem;
	margin: auto;
}

.effects {
	display: block;
	height: 9rem;
	opacity: 0;
	transform: scale(1) rotate(90deg);
	will-change: trasform, opacity;
}

@keyframes noteEffect {
	0% {
		transform: scale(2.5) rotate(90deg);
		opacity: 1;
	}

	100% {
		transform: scale(0) rotate(90deg);
		opacity: 0;
	}
}

.noteEffect {
	animation: noteEffect .5s alternate 1 running;
}

#JUDGE_LINE {
	position: absolute;
	left: 5rem;
	height: 100%;
	width: 1px;
	z-index: 10;
	background-color: #fff;
}

#COMBO {
	position: absolute;
	left: 5rem;
	top: 35rem;
	font-size: 3rem;
	color: #fff;
	width: 100%;
	text-align: center;
	transform: rotate(90deg);
}